body{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.header{
    width: 90vw;
    top: 0;
    margin-left: 5vw;
    margin-right: 5vw;
}

.menu-bar{
    background: #2579C1;
    height: 10vh;
    width: 90vw;
}

.menu-info{
    height: 5vh;
    background-color: #E83636;
    margin-right: 200px;
    margin-left: 200px;
}

.product-scroll{
    margin-left: 5vw;
    margin-right: 5vw;
    height: 80vh;
    width: 90vw;
    background-color: #2EB170;
}

/* .arrow-text{
    margin-left: 5vw;
    margin-right: 5vw;
    height: 80vh;
    width: 90vw;
    background-color: transparent;

    display: grid;
    grid-template-columns: 25px 200px 26px;
    grid-gap: 75px;
}
.arrow-left{
    background: #2579C1;
    width: 10px;
    height: 15px;
}

.arrow-right{
    background-color: #2579C1;
    width: 10px;
    height: 15px;
}

.lower-text{
    background-color: #FFDB2C;
    height: 15px;
} */

.spacer{
    background-color: #DFBD88;
    height: 3vh;
    width: 90vw;
    margin-right: 5vw;
    margin-left: 5vw;
}

.explore{
    margin-left: 5vw;
    margin-right: 5vw;
    height: 60vh;
    width: 90vw;
    background-color:#FFDB2C;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    grid-gap: 50px;

}

.product-showcase-1{
    margin-top: 25px;
    margin-left: 50px;
    margin-bottom: 25px;
    background-color: #E83636;
}

.product-showcase-2{
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #2579C1;
}

.product-showcase-3{
    margin-top: 25px;
    margin-right: 50px;
    margin-bottom: 25px;
    background-color: #2EB170;
}

.text-box-1{
    margin-top: 50px;
    margin-right: 30vw;
    margin-left: 30vw;
    width: 40vw;
    height: 25px;
    background-color: #E83636;
}

.text-box-2{
    margin-top: 15px;
    margin-right: 30vw;
    margin-left: 30vw;
    margin-bottom: 25px;
    width: 40vw;
    height: 25px;
    background-color: #E83636;
}

.offer-menu{
    margin-top: 50px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 150px;
    height: 65vh;
    width: 90vw;
    background-color: white;

    display: grid;
    grid-template-columns: 1fr 40vw 1fr;
    grid-template-rows: 1fr 10vh 1fr;
    grid-gap: 10px;
}

.offer-1{
    height: 40vh;
    margin-top: 10px;
    background-color:#DFBD88;
}

.offer-2{
    background-color: #2579C1;
}
.offer-3{
    height: 40vh;
    margin-top: 10px;
    background-color: #DFBD88;
}

.offer-4{
    height: 40vh;
    background-color: #2EB170;
}

.offer-5{
    height: 15vh;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: #2EB170;
}

.offer-6{
    height: 40vh;
    background-color: #2EB170;
}

.text-box-3{
    margin-right: 30vw;
    margin-left: 30vw;
    margin-bottom: 15px;
    width: 40vw;
    height: 25px;
    background-color: #E83636;
}
.explore-2{
    margin-left: 5vw;
    margin-right: 5vw;
    height: 65vh;
    width: 90vw;
    background-color: white;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.image-1{
    background-color: #2579C1;
}

/* .arrow-2{
    position: relative;
    width: 5vw;
    height: 10vh;
    background-color: #2EB170;
} */

.image-2{
    width: 50vw;
    background-color: #FFDB2C;
}

.arrow-4{
    background-color: yellow;
}

.image-3{
    background-color: #2579C1;
}

.text-box-4{
    margin-right: 30vw;
    margin-left: 30vw;
    margin-bottom: 15px;
    width: 40vw;
    height: 25px;
    background-color: #E83636;
}

.text-box-5{
    margin-right: 30vw;
    margin-left: 30vw;
    margin-bottom: 15px;
    width: 40vw;
    height: 25px;
    background-color: #E83636;
}

.spacer-2{
    background-color: #DFBD88;
    height: 5vh;
    width: 100vw;
}

.footer{
    width: 100vw;
    height: 40vh;
    background-color: #2579C1;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2vw;
}

.column-1{
    margin-top: 2.5vw;
    margin-bottom: 2.5vh;
    margin-left: 5vw;
    margin-right: 2.5vw;
    background-color: #DFBD88;
}

.column-2{
    margin-top: 2.5vw;
    margin-bottom: 2.5vh;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    background-color: #e83636;
}

.column-3{
    margin-top: 2.5vw;
    margin-bottom: 2.5vh;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    background-color: #2EB170;

}

.column-4{
    margin-top: 2.5vw;
    margin-bottom: 2.5vh;
    margin-left: 2.5vw;
    margin-right: 5vw;
    background-color: #FFDB2C;
}

.spacer-3{
    margin-top: 5vh;
    height: 5vh;
    width: 100vw;
    background-color: #2EB170;
}